<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/editor/codemirror.js" type="text/javascript" charset="utf-8"></script>
<script src="/editor/mode/xml/xml.js" type="text/javascript" charset="utf-8"></script>
<script src="/editor/mode/markdown/markdown.js" type="text/javascript" charset="utf-8"></script>

<div id="editor">
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	var editor = CodeMirror(
		document.getElementById('editor'), {
		mode: 'markdown',
		theme: 'default',
		indentUnit: 4,
		matchBrackets: true,
		lineNumbers: true
	});
});
</script>