<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Dayang Document - Editor</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" href="/editor/codemirror.css" type="text/css">
		<link rel="stylesheet" href="/editor/theme/monokai.css" type="text/css">
	</head>
	<body id="layout">
		<div id="main">
			<div id="project">

			</div>
			<div id="editor-wrapper" class="artical"> 
				<%= yield%>
			</div>
		</div>
	</body>
</html>