<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Dayang Document</title>
		<link rel="stylesheet" type="text/css" href="/css/prettify.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/js/prettify.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('code, pre').addClass('prettyprint1');
				prettyPrint();
			});
		</script>
	</head>
	<body id="layout">
		<div id="main">
			<div id="sliderbar">
				<ul>
					<li><a href="/flow">Task Flow</a></li>
					<li><a href="/generate">Generate Task</a></li>
					<li><a href="/hibernate">HibernateSchemaExport</a></li>
                    <li><a href="/sitemesh">sitemesh</a></li>
				</ul>
			</div>
			<div class="artical"> 
				<%= yield%>
			</div>
		</div>
	</body>
</html>