body {
	background-color: #444;
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	line-height: 150%;
	color: #444;
	font-family: "Microsoft Yahei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

h2 {
	color: #181818;
}

#main {
	width: 960px;
	margin: 0px auto;
	padding: 10px 0px;
	background-color: #fff;
}

#sliderbar {
	position: fixed;
	top: 0px;
	padding-top: 12px;
	height: 100%;
	width: 240px;
	background-color: #efefef;
}

li {
	padding: 2px 0px;
}

#sliderbar ul li {
	list-style: none;
	padding: 3px;
}

#sliderbar ul li a {
	color: #444;
	font-size: 14px;
	display: block;
	text-decoration: none;
	
	text-shadow: 1px 1px 1px #eee;
}

#sliderbar ul li a:hover {
	color: #000;
}


.artical {
	margin-left: 240;
	padding: 0 40px;
	background-color: #fff;
}

code, pre {
	font-size: 12px;
	line-height: 21px;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}